<ion-view ng-init="init()" view-title="New Employee">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c">
            </i>
            Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header" padding="true">
        <form class="list" id="newEmployee-form5">
            <label class="item item-input" id="newEmployee-input7" name="Name">
                <span class="input-label">
                    Name
                </span>
                <input ng-model="employee.name" placeholder="Name" type="text">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input11">
                <span class="input-label">
                    Employee ID
                </span>
                <input ng-model="employee.id" placeholder="Employee ID" type="text">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input8">
                <span class="input-label">
                    Phone
                </span>
                <input ng-model="employee.phone" placeholder="Phone" type="tel">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input9">
                <span class="input-label">
                    Email
                </span>
                <input ng-model="employee.email" placeholder="Email" type="email">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input10">
                <span class="input-label">
                    DOB
                </span>
                <input ng-model="employee.dob" placeholder="DOB" type="date">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input12">
                <span class="input-label">
                    Salary
                </span>
                <input ng-model="employee.salary" placeholder="Monthly Salary" type="number">
                </input>
            </label>
            <label class="item item-select" id="newEmployee-select1">
                <span class="input-label">
                    Department
                </span>
                <select ng-model="employee.dept" ng-options="item as item.text for item in departments">
                </select>
            </label>
            <!-- <button class="button button-positive button-block" id="login-button1">
                Save
            </button> -->
        </form>
    </ion-content>
    <swipe-to-complete button-text="'SWIPE TO SAVE'" on-swipe-end="saveEmployeeDetails">
    </swipe-to-complete>
</ion-view>
