<ion-view view-title="main module">
    <ion-content class="has-header" padding="true">
        <form class="list" id="newEmployee-form5">
            <label class="item item-input" id="newEmployee-input7" name="Name">
                <span class="input-label">
                    Name
                </span>
                <input placeholder="Name" type="text">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input11">
                <span class="input-label">
                    Employee ID
                </span>
                <input placeholder="Employee ID" type="text">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input8">
                <span class="input-label">
                    Phone
                </span>
                <input placeholder="Phone" type="tel">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input9">
                <span class="input-label">
                    Email
                </span>
                <input placeholder="Email" type="email">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input10">
                <span class="input-label">
                    DOB
                </span>
                <input placeholder="DOB" type="date">
                </input>
            </label>
            <label class="item item-input" id="newEmployee-input12">
                <span class="input-label">
                    Salary
                </span>
                <input placeholder="Monthly Salary" type="number">
                </input>
            </label>
            <label class="item item-select" id="newEmployee-select1">
                <span class="input-label">
                    Department
                </span>
                <select>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>
